In [ ]:
import nltk
import re
from nltk.corpus import  stopwords

text = """Beans. I was trying to explain to somebody as we were flying in, that's corn.  That's beans. And they were very impressed at my agricultural knowledge. Please give it up for Amaury once again for that outstanding introduction. I have a bunch of good friends here today, including somebody who I served with, who is one of the finest senators in the country, and we're lucky to have him, your Senator, Dick Durbin is here. I also noticed, by the way, former Governor Edgar here, who I haven't seen in a long time, and somehow he has not aged and I have. And it's great to see you, Governor. I want to thank President Killeen and everybody at the U of I System for making it possible for me to be here today. And I am deeply honored at the Paul Douglas Award that is being given to me. He is somebody who set the path for so much outstanding public service here in Illinois. Now, I want to start by addressing the elephant in the room. I know people are still wondering why I didn't speak at the commencement."""

# Changing to sentences

In [17]:
corpus = nltk.sent_tokenize(text)
corpus

['Beans.',
 "I was trying to explain to somebody as we were flying in, that's corn.",
 "That's beans.",
 'And they were very impressed at my agricultural knowledge.',
 'Please give it up for Amaury once again for that outstanding introduction.',
 "I have a bunch of good friends here today, including somebody who I served with, who is one of the finest senators in the country, and we're lucky to have him, your Senator, Dick Durbin is here.",
 "I also noticed, by the way, former Governor Edgar here, who I haven't seen in a long time, and somehow he has not aged and I have.",
 "And it's great to see you, Governor.",
 'I want to thank President Killeen and everybody at the U of I System for making it possible for me to be here today.',
 'And I am deeply honored at the Paul Douglas Award that is being given to me.',
 'He is somebody who set the path for so much outstanding public service here in Illinois.',
 'Now, I want to start by addressing the elephant in the room.',
 "I know people are still wondering why I didn't speak at the commencement."]

# Removing punctuations and extra spaces

In [18]:
for i in range(len(corpus)):
    corpus[i] = corpus[i].lower()
    corpus[i] = re.sub(r'\W', ' ', corpus[i])
    corpus[i] = re.sub(r'\s+', ' ', corpus[i])

In [19]:
for i, sentence in enumerate(corpus):
     print(f"Sentence {i+1}: {sentence}")

Sentence 1: beans
Sentence 2: i was trying to explain to somebody as we were flying in that s corn
Sentence 3: that s beans
Sentence 4: and they were very impressed at my agricultural knowledge
Sentence 5: please give it up for amaury once again for that outstanding introduction
Sentence 6: i have a bunch of good friends here today including somebody who i served with who is one of the finest senators in the country and we re lucky to have him your senator dick durbin is here
Sentence 7: i also noticed by the way former governor edgar here who i haven t seen in a long time and somehow he has not aged and i have
Sentence 8: and it s great to see you governor
Sentence 9: i want to thank president killeen and everybody at the u of i system for making it possible for me to be here today
Sentence 10: and i am deeply honored at the paul douglas award that is being given to me
Sentence 11: he is somebody who set the path for so much outstanding public service here in illinois
Sentence 12: now i want to start by addressing the elephant in the room
Sentence 13: i know people are still wondering why i didn t speak at the commencement

In [20]:
word2count = {}

for sent in corpus:
    for word in sent.split():
        if word not in word2count:
            word2count[word] = 1

        else:
            word2count[word] += 1

In [21]:
stop_words = set(stopwords.words('english'))

# Creating a Bag of Words

In [22]:
filtered_word2count = {}

for word, count in word2count.items():
    if word not in stop_words:
        filtered_word2count[word] = count

# Displaying the word frequency

In [28]:
import pandas as pd
word_freq_df = pd.DataFrame(list(filtered_word2count.items()), columns=["word", "count"])

word_freq_df = word_freq_df.sort_values(by="count", ascending=False)
word_freq_df

            word  count
3       somebody      3
0          beans      2
12   outstanding      2
41          want      2
17         today      2
..           ...    ...
31        former      1
33         edgar      1
34          seen      1
35          long      1
71  commencement      1

[72 rows x 2 columns]